<div class="random-beer-container">{{#each randomBeer}}
    {{>beerpartial this}}
    <h5>Food Pairing</h5>
    <ul>
        {{#each food_pairing}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
    <p class="brewer-pos"> <span id="brewer-bold"> Brewer Tips:</span> {{brewers_tips}}</p>
    {{/each}}
</div>